.DS_Store
venv/
.idea/

logs/

nlp_seg/data/corpus/

__pycache__/
nlp_seg/model/__pycache__/
nlp_seg/common/__pycache__/
nlp_seg/__pycache__/
nlp_seg/app/__pycache__/

# data/backupvectos.txt and data/model/vectors.txt are too large, so do not upload to git
data/backup/vectos.txt
data/model/vectos.txt